.ground-cart{

  position: relative;
}
.cart {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(240, 255, 255, 0.247);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  justify-self: center;
  margin: auto;
  
  }

 .cart i{
  color: white;
  font-size: 23px; 
}
.cart::before{
  content: attr(totalcart);
  position: absolute;
  top: -12px;
  right: -8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  padding: 5px;
  color: white;
  line-height: 13px;
  text-align: center;
}